$primary: #00958d;
$primary-light: #00a59f;
$border-radius: 3px;

html {
    font-size: 13px;
}

.bg-light {
    background-color: #f8f9fa !important;
}

body {
    min-width: 1200px;
    font-family: 'Roboto', sans-serif;
}
