{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jquery": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error", 4, {
                "SwitchCase": 1
            }
        ],
        "no-console": "off",
        "no-unused-vars": "off",
        "no-useless-escape": "off"
    },
    "globals": {
        "route": true,
        "axios": true,
        "Cookies": true,
        "moment": true
    }
}
