
.document {
    .text-red {
        color: #ff2d20;
    }

    p {
        color: rgba(9, 9, 16, .7);
        font-size: 1.25rem;
    }

    .heading {
        color: #007bff;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .desc p {
        margin: 0;
    }
}
